

    <!-- Begin page -->
    <div id="wrapper">
        <div class="content">
            <div class="content">
                <!-- Start Content-->
                <div class="container-fluid">
                    
                    <!-- Form row -->
                    <h3 class="page-title">Crear Pregunta Frecuente</h3>
                    <div class="row">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-body">
                                    <%= render 'form', article: @article %>
                                </div> <!-- end card-body -->
                            </div> <!-- end card-->
                        </div> <!-- end col -->
                    </div>
                    <!-- end row -->                    
                </div> <!-- container -->
            </div>
        </div>
    </div>
    <br>

