<section class="content">

    <div class="row container">

        <section class="col">

            <div class="box box-success">
                <div class="box-header with-border">
        
                    <h3 class="box-title">Crea tu propia Categoría para el menú</h3>
                    <!-- tools box -->

                </div>

                    <div class="box-body">
                        <%= render 'form', menu_type: @menu_type %>   
                    </div>
            </div>
    
        </section>

    </div>
</section>