<section class="content-header">
  <div class="alert alert-success alert-dismissible">
    <i class="icon fa fa-check"><%= notice %></i>
  </div>      
</section>

<section class="content">
<div class="row">
  <div class="col-xs-12">
    <div class="box">
      <div class="box-header">
        <h3 class="box-title">Plato</h3>
      </div>
      <!-- /.box-header -->
      <div class="box-body">
        <table id="example2" class="table table-bordered table-hover">
          <thead>
          <tr>
            <th>Nombre</th>
          </tr>
          </thead>
          <tbody>
              <tr>
                <td><%= @menu_type.name %></td>
                <td><%= link_to 'Editar', edit_restaurante_menu_type_path(@menu_type), :class => 'btn btn-warning' %></td>
                <td><%= link_to 'Atras', restaurante_menu_types_path, :class => 'btn btn-primary' %></td>
              </tr>
          </tbody>
        </table>
      </div>
      <!-- /.box-body -->
    </div>
    <!-- /.box -->
</section>