<div class="container">
    <div class="py-5">
			<section class=" section-1 text-align: center ">

			<!-- AQUI VA LA DIRECCION DE REGISTRO DEL RESTAURANTE  -->
            <a style="text-decoration:none" href="  ">       
			<div class="parallax-settings parallax-bg-5">	
				<div class="thumb-info-wrapper m-0 container2 height-child" >
					
						<div class="row my-4 height-child">
							<div class="col-md-12 align-self-center p-static order-2 text-center">
								<h1 class="py-3 mb-3 text-center text-color-light" style="font-size:40px"><strong> ¿ Eres dueño de un restaurante ? </strong></h1> 
								<h1 class="py-3 mb-3 text-center text-color-light " style="font-size:24px" >	Únete a La PROMO y aumenta tu visión online con nosotros y atrae a nuevos clientes</h1>
							</div>
						</div>
					</div>
				</div>
				</div>
			</a>
		</section>
    </div>
</div>
