<div class="container">
    <div class="py-5">
			<section class=" section-1 text-align: center " style="text-decoration:none" >

			<!-- AQUI VA LA DIRECCION DE REGISTRO DEL RESTAURANTE  -->
            <%= link_to users_restaurant_sign_up_path, style:"text-decoration:none" do %>

			<div class="parallax-settings parallax-bg-5">	
				<div class="thumb-info-wrapper m-0 container2 height-child" >
					
						<div class="row my-4 height-child">
							<div class="col-md-12 align-self-center p-static order-2 text-center">
								<h1 class="py-3 mb-3 text-center text-color-light" style="font-size:40px"><strong> ¿Eres dueño de un restaurante? </strong></h1> 
								<h1 class="py-3 mb-3 text-center text-color-light " style="font-size:24px" >	Únete a LAPROMO, aumenta tu visibilidad online y atrae a nuevos clientes</h1>
							</div>
						</div>
					</div>
				</div>
				</div>
			<%end%>
		</section>
		<div class="container">
                <div class="row">
                    <div class="col-sm-4">
                        <%= link_to new_user_registration_path, style:"text-decoration:none"  do %>
                            <div class=" card2 fondo-1">
                                <div class="centered centered2">
                                <p class="  text-color-light" style="text-align: center;"><strong>¡Únete a <br>LAPROMO!</p></strong>
                                </div>
                            </div>
                        <%end%>
                    </div>

                    <div class="col-sm-8">
                        <%= link_to'/home/program_of_yumis', style:"text-decoration:none" do%>
                            <div class="card2 yumi" style="margin-right: 100px">
                                    <div  style="padding-right: 10px">
                                        <div>  
                                        <h2 class="text-100  text-color-light"> <strong>Premiamos tu confianza</strong> </h2> 
                                        <h5 style="text-transform: none;color:white" > Cuanto más reservas, más ganas:<br><br>
                                            1.000 Yumis = paga 400.000 Bs menos en tu próxima reserva en los restaurantes participantes.<br><br>
                                            2.000 Yumis = 1.000.000 Bs. </h5> 
                                            <p style="text-align: right; color:white"><strong>Descubre el programa Yumis</strong></p>
                                        </div>
                                        
                                    </div>
                            </div>
                        <%end%>
                    </div>
	</div>



