<div class="body">
	<div role="main" class="main">
		<section class=" section-1">
			<div class="parallax-settings parallax-bg-4">
				<div class="thumb-info-wrapper m-0 container2 height-child" >
					<div class="container height-child">
						<div class="row my-4 height-child">
							<div class="col-md-12 align-self-center p-static order-2 text-center" style="margin-top: 120.1px;">
								<h1 class="text-100 py-4 mb-3 text-center text-color-light"><strong>¡Nos encantará poder ayudarte!</strong></h1>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>


		<section class="section-4">
			<h3 class="text-center text-success mt-4 mb-2"><strong>Las preguntas más frecuentes</strong></h3>
				<div class="container">
					<div class="accordion" id="accordionExample">
						
						<div class="card z-depth-0 bordered">
							<button class="btn btn-link btn-primary btn-custom-size" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne" style="text-decoration:none">
								<div class="card-header" id="headingOne">
									<h4 class="mb-0 btn-primary">
										¿Cómo puedo modificar mi cuenta?
									</h4>
								</div>
							</button>
							<div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
								<div class="card-body">
									Podrás realizar estás modificaciones haciendo click en Iniciar Sesion, introduciendo tu email, password y seleccionando la opción Mis datos personales.<br>			
								</div>
							</div>
						</div>
						
						<div class="card z-depth-0 bordered">
							<button class="btn btn-link btn-primary btn-custom-size collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo" style="text-decoration:none">
								<div class="card-header" id="headingTwo">
									<h4 class="mb-0 btn-primary">
										¿Cómo puedo cancelar mi reserva?
									</h4>
								</div>
							</button>
							<div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
								<div class="card-body">
									Puedes cancelar tu reserva accediendo a Mis Reservas en tu cuenta. <br>
								</div>
							</div>
						</div>
						
						<div class="card z-depth-0 bordered">
							<button class="btn btn-link btn-primary btn-custom-size collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree" style="text-decoration:none">
								<div class="card-header" id="headingThree">
									<h4 class="mb-0 btn-primary">
										¿Cómo puedo modificar mi reserva?<br>
									</h4>
								</div>
							</button>
							<div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
								<div class="card-body">
									
									Comprueba en la página del restaurante que sigue teniendo disponibilidad. Cancela la reserva que quieres modificar y realiza una nueva.
								</div>
							</div>
						</div>
						
						<div class="card z-depth-0 bordered">
							<button class="btn btn-link btn-primary btn-custom-size collapsed" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour"  style="text-decoration:none">
								<div class="card-header" id="headingFour">
									<h4 class="mb-0 btn-primary">
										¿Hasta cuándo puedo dejar mi opinión después de mi reserva?
									</h4>
								</div>
							</button>
								<div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
									<div class="card-body">
										Tienes hasta 3 meses desde la fecha de tu reserva para dejar tu opinión. <br>
										De todas formas, te recomendamos dejar tu opinion lo antes posibles para que nos puedas detallar al máximo tu experiencia. <br>
									</div>
								</div>
						</div>

					
					</div>
				</div>
		</section>
			
			
		
		<section class=" section-9">
			<div class="container">
				<div>
					<div class="Contacto">
						<h2 class="Contacto-title">¡TE ESCUCHAMOS!</h2>
						<div class="Contacto-textContainer">
							<h4>¿Dudas adicionales?</h4>
							<p><b>¿Ya eres cliente?</b><br>

									<!-- AQUI VA LA DIRECCION DE REGISTRO DE USUARIO  -->
								- Contáctanos a través de  <a href="                " target="_blank" style="text-decoration:none">lapromoucab@gmail.com</a>
								<br>

								 			<!-- AQUI VA LA DIRECCION DE MOSTRAR PREGUNTA FRECUENTE  -->
								- O accede a nuestras <%=link_to "Preguntas frecuentes", topics_index_path, style:'text-decoration:none;'%>.<br><br>
							<b>¿Futuro cliente? </b><br><br>

											<!-- AQUI VA LA DIRECCION DE REGISTRO DE RESTURANTE  -->
								- Date de alta <%=link_to "aquí", new_user_session_path, style:'text-decoration:none' %> para tener acceso a todas las funcionalidades</p>

						</div>
					</div>
				</div>
			</div>	
		</section>

		<section class="container">
			<div class="row parallax-bg-6">
      			<div class="col-sm-6 textoc ">
				  	<h2 class="text-center" style="color:white"><strong> ¿Cómo puedes encontrarnos?</strong></h2><br>
					<h4 class="text-center " style="color:white">  Puedes contactar con nosotros de lunes a viernes desde las 9:00 A.M. hasta las 10:00 P.M.</h4> <br>
					<h4 class="text-center " style="color:white"> (+58) 407.4187 </h4> 
					<h4 class="text-center " style="color:white"> lapromoucab@gmail.com.com </h4><br>
					<h4 class="text-center " style="color:white">   Nuestra oficina está ubicada en: </h4> <br>
					<h4 class="text-center" style="color:white"> Final Av. Teherán, Urb. Montalbán, Caracas, Venezuela</h4> <br>
				</div>

      			<div class="col-sm-6" style="">
				  	<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d7846.92396388582!2d-66.9758!3d10.4642!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x43cb2d8100a63708!2sUniversidad%20Cat%C3%B3lica%20Andr%C3%A9s%20Bello!5e0!3m2!1ses-419!2sve!4v1575168423546!5m2!1ses-419!2sve" 
					width="580" height="460" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
				</div>
			</div>
		</section>	

		<section>
	  		<%= render  "registro_restaurant" %>	
		</section>

	</div>
</div>
