<!-- Mensaje de error al no conseguir reservaciones de restaurantes -->
<head>
    <title>ERROR</title>
</head>

<body>
    <div class="content">
        <div style ="text-align: center;">
            <h2>No hay reservaciones registradas en ningun restaurant </h2>
        </div>
    </div>
</body>
