

        <!-- Begin page -->
        <div id="wrapper">
            <div class="content">
                      
                                <div class="text-center">
                                    <i class="h1 far fa-frown text-muted"></i> <i class=""></i>
                                    <h1 class="mb-3 orange" style ="color: #e09b23">Actualmente no existen proveedores de servicio registrados</h1>
                                    <p class="text-muted"> Lo sentimos, en este momento no contamos con  proveedores de 
                                    servicios registrados en nuestro sistema.<br>
                                    Intente nuevamente más tarde</p><br><br><br><br>
<br><br>
<br><br>




                                </div>
                            </div>
<section>
                            <%= render  "registro_restaurant" %>
                            </section>
                            
        </div>
        
        
        

