<div class="body">
	<div role="main" class="main">
		<section class=" section-1">
			<div class="parallax-settings  parallax-bg-7 ">
				<div class="thumb-info-wrapper m-0 container2 height-child" >
					<div class="container height-child">
						<div class="row my-4 height-child">
							<div class="col-md-12 align-self-center p-static order-2 text-center " style="margin-top: 100.1px;">
									<h1 class="text-10 py-3 mb-3 text-center text-color-light" > <strong> LAPROMO posee Términos y Condiciones de Uso además de <br><br> Políticas de Privacidad para el beneficio de sus clientes</strong> </h1>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>

		<section class=" textoc">
            <h4 class="text-center" style="color: #e09b23"> Nos ocupamos de las necesidades reales del cliente como la privacidad y seguridad de sus datos</h4><br>
				<div class="container">
					<div class="row justify-content-md-center">
					<!-- Card Flip 1-->
						<div class="col-sm col-sm">
                            <div class="flip-carta">
                                <div class="flip-carta-inner">
                                    <div class="flip-carta-front carta" >
                                        <img src="https://live.staticflickr.com/65535/49150818673_65b814413e_m.jpg" alt="Avatar" style="width:70px;height:60px;"><br><br>                                        <h4  class="font-weight-bold">Evita los no-shows</h4> 
                                        <p style="justify-content: center;  font-size: 15px">Si no podrás asistir a una reservación, cancela con antelación para evitar que sea tomada en cuenta como no-show, por lo cual podrías resultar penalizado</p>  
                                    </div>
                                </div>
                            </div>
                        </div>
                    <!-- END Card Flip 2-->
					<!-- Card Flip 2-->
						<div class="col-sm col-sm">
                            <div class="flip-carta">
                                <div class="flip-carta-inner">
                                    <div class="flip-carta-front">
                                        <img src="https://live.staticflickr.com/65535/49150678338_5f126c0233_m.jpg" alt="Avatar" style="width:70px;height:60px;">
                                        <br><br>
                                        <h4  class="font-weight-bold">Gestiona tus reservas eficazmente</h4>
                                        <p style="justify-content: center;  font-size: 15px">A través de LAPROMO podrás podrás manejar tus reservas y servicios en tiempo real </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    <!-- END Card Flip 2-->
					<!-- Card Flip 3-->
						<div class="col-sm col-sm">
                            <div class="flip-carta">
                                <div class="flip-carta-inner">
                                    <div class="flip-carta-front">
                                        <img src="https://live.staticflickr.com/65535/49150740958_d5688f5381_s.jpg" alt="Avatar" style="width:70px;height:60px;">
                                        <br><br>
                                        <h4  class="font-weight-bold">Atrae nuevos clientes</h4> 
                                        <p style="justify-content: center;  font-size: 15px"> Te damos las herramientas para aumentar tu visibilidad en internet y captar nuevos clientes que de otra forma, seguramente no podrían llegar a conocer tu restaurante. </p> 
                                    </div>
                                </div>
                            </div>
                        </div>
                    <!-- END Card Flip 3-->
					<!-- Card Flip 4-->
						<div class="col-sm col-sm">
                            <div class="flip-carta">
                                <div class="flip-carta-inner">
                                    <div class="flip-carta-front">
                                        <img src="https://live.staticflickr.com/65535/49150775053_10e1fdcbac_q.jpg" alt="Avatar" style="width:70px;height:60px;">
                                        <br><br>
                                        <h4  class="font-weight-bold">Fideliza a tus clientes</h4> 
                                        <p style="justify-content: center;  font-size: 15px"> Gracias a la base de datos de LAPROMO, podrás acceder a todas las preferencias de los clientes. Así, tu personal podrá ofrecer un trato personalizado a los mismos.   <p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    <!-- END Card Flip 4-->
                    </div>
                </div>
        </section>

        <section class=" section-8 parallax-bg-8" >       
             <div class="col-sm text-center "><br><br>
                <h1 class="font-weight-bolder text-color-light" > Condiciones de Uso</h1>
            </div>
         
            <div class="card mb-3" style="max-width: 1200px;">
                <div class="row no-gutters">
                    <div class="col-md-4 parallax-bg-8">
                        <!-- <img src="..." class="card-img" alt="...">-->
                    <section>
	                    <ul> <br>  <br> <br> <br> <br> <br> <br> <br> <br> <br> <br>      
		                    <li><a href="#1.">Condiciones de Conformidad</a></li>
                            <li><a href="#2.">Acceso a LAPROMO</a></li>
                            <li><a href="#3.">Condiciones de creación de una cuenta</a></li>
                            <li><a href="#4."> Confidencialidad de los datos de acceso a la cuenta</a></li>
                            <li><a href="#5."> Eliminación de la cuenta</a></li>
                            <li><a href="#6.">Obligaciones de los Usuarios - Acciones prohibidas</a></li>
	                    </ul>
                    </section>
                    </div>
                    <div class="col-md-8 background-color: transparent">
                        <div class="card-body ">
                            <h3 class="card-header text-warning">Acceso y uso del Sitio LAPROMO</h3>
                            <br>
                            <p class="card-text" id="1." style="font-weight: bold">1. Condiciones de Conformidad<br></p>

<p style="text-align: justify;">El uso del Sitio LAPROMO queda sujeto a los siguientes requisitos acumulativos de idoneidad: como Usuario, usted debe i) tener 18 o más años de edad; ii) tener capacidad jurídica para asumir obligaciones legales; y iii) las reservas que efectúe en el Sitio LAPROMO, ya sea como titular o como representante legal de otra persona, deberán ser legítimas.</p>

<p id="2." style="font-weight: bold">2. Acceso al Sitio LAPROMO<br>

<p style="text-align: justify;">La Fourchette se reserva el derecho de suspender, suprimir o modificar total o parcialmente el Sitio LAPROMO o los servicios ofrecidos en el Sitio LAPROMO sin notificación previa. Asimismo, La Fourchette se reserva el derecho de suspender el acceso al Sitio LAPROMO a todos o algunos de los Usuarios por motivos de mantenimiento, emergencia (ciberataque, etc.) o por cualquier otra causa razonable en cualquier momento. </p>

<p id="3." style="font-weight: bold">3. Condiciones de creación de una cuenta<br>



<p style="text-align: justify;">Al crear una cuenta, el Usuario acepta expresamente y sin reservas las presentes Condiciones de Uso.El usuario se compromete a proporcionar información exacta, actualizada y veraz, especialmente en lo relativo a su tratamiento, apellidos, nombre, dirección de correo electrónico y número de teléfono, datos que resultan necesarios para su adecuada identificación en relación con la creación y mantenimiento de su cuenta.</p>

<p id="4." style="font-weight: bold" >4. Confidencialidad de los datos de acceso a la cuenta<br>

<p style="text-align: justify;">Durante el proceso de creación de su cuenta, los Usuarios deben elegir un nombre y una contraseña (los «Datos de Acceso») que le permitirán acceder a la misma.<br>

Estos Datos de Acceso son personales y confidenciales. Tan solo podrán ser modificados a petición del Usuario o a iniciativa de La Fourchette.<br>

Los Usuarios tienen responsabilidad plena y exclusiva por el uso de su cuenta y de sus Datos de Acceso, y se comprometen a hacer todo lo posible por mantener en secreto sus Datos de Acceso y no revelárselos a terceros en modo alguno.

En caso de pérdida o robo de los Datos de Acceso del Usuario, este será responsable de los daños que pudieran derivarse de dicha pérdida o robo, y deberá proceder lo más pronto posible a modificarlos, tal y como se indica en la página https://www.LAPROMO.es/mi-cuenta/datos</p>

<p id="5." style="font-weight: bold">5. Eliminación de la cuenta<br>

<p style="text-align: justify;">Los Usuarios pueden eliminar su cuenta en cualquier momento. Para ello, deberán enviar su solicitud de eliminación de cuenta por correo electrónico a: contacto@LAPROMO.es.<br>

La Fourchette se esforzará por procesar las solicitudes de eliminación de cuenta en un plazo razonable.<br>

Se informa a los Usuarios que, a partir de la fecha de eliminación de su cuenta, ya no podrán beneficiarse de los servicios ofrecidos por La Fourchette, sus reservas actuales serán canceladas y los Yumis acumulados, si los hubiera, serán suprimidos.</p>

<p id="6." style="font-weight: bold">6. Obligaciones de los Usuarios - Acciones prohibidas<br>

<p style="text-align: justify;">Los Usuarios se comprometen a usar el Sitio LAPROMO de conformidad con las presentes Condiciones de Uso y la legislación aplicable. En concreto, los Usuarios se comprometen a no realizar las acciones prohibidas mencionadas a continuación.<br>

· No presentarse en el restaurante sin haber cancelado la reserva ( no show).<br>

· Los contenidos y datos del Sitio LAPROMO (incluidos, entre otros, los mensajes, datos, información, texto, música, sonidos, fotografías, gráficos, vídeos, mapas, iconos, software, códigos o cualquier otro elemento), así como la infraestructura empleada para transmitir dichos contenidos e información, pertenecen a La Fourchette; los Usuarios se comprometen a no modificar, copiar, distribuir, transmitir, publicar, poner a disposición de terceros, reproducir, publicar, conceder licencias, crear obras derivadas, ceder, vender o revender información, software, productos o servicios que hayan obtenido de o a través del Sitio LAPROMO.<br></p>
                        </div>
                    </div>
                </div>
            </div>
       </section>
        
        <section class=" section-8 parallax-bg-9" >       
             <div class="col-sm text-center ">
                <br><br>
                <h1 class="font-weight-bolder text-color-light" > Política de Privacidad </h1>
            </div>
         
            <div class="card mb-3" style="max-width: 1200px;">
                <div class="row no-gutters">
                    <div class="col-md-4 parallax-bg-9">
                        <!-- <img src="..." class="card-img" alt="...">-->
                        <section>
                            <ul> <br>  <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br>
                                <br>  <br> <br> <br> <br> <br> <br> <br> <br> <br> <br>  <br>    
                                <li><a href="#1"> Recopilación de datos personales </a></li>
                                <li><a href="#2"> Cómo utilizamos sus datos personales </a></li>
                                <li><a href="#3"> Con quién compartimos su información </a></li>
                                <li><a href="#4"> Durante cuánto tiempo guardamos su información </a></li>
                                <li><a href="#5"> Cómo protegemos sus datos personales </a></li>
                                <li><a href="#6"> Sus derechos </a></li>
                            </ul>
                        </section>
                    </div>
                    <div class="col-md-8 background-color: transparent">
                        <div class="card-body ">
                            <h3 class="card-header text-warning">El manejo de la privicidad en el sitio de la LAPROMO</h3><br>
                            <p class="card-text" id="1" style="font-weight: bold">1. Recopilación de datos personales<br> 
<p style="text-align: justify;">
Por “datos personales” se entiende cualquier información sobre una persona que permita identificarla, ya sea de forma directa o indirecta, como su nombre y apellidos, número de teléfono, direcciones postales y de correo electrónico, fecha de nacimiento, contraseña e información de pago . No incluyen los datos de los que se ha eliminado la identidad (datos anónimos).<br>

En el curso de nuestras operaciones comerciales, recopilamos y procesamos datos personales de diversas formas. Podemos recopilar los datos personales que nos proporcione directamente, pero también mediante el registro de su interacción con nuestros servicios, por ejemplo, utilizando las cookies de nuestro sitio web. Asimismo, podemos recibir información procedente de terceros.<br>

Puede optar por no facilitarnos sus datos personales. No obstante, en general necesitará facilitarnos cierta información acerca de usted , por ejemplo, para reservar una mesa en un restaurante, para recibir ofertas relevantes de LAPROMO o de los restaurantes, y para disfrutar de otras ventajas a las que tiene acceso como usuario registrado. Además, puede que necesitemos también cierta información para que usted pueda formular preguntas y permitirnos que le respondamos.</p>       

<p id="2" style="font-weight: bold">2. Cómo utilizamos sus datos personales<br> 
<p style="text-align: justify;">
Utilizamos los datos personales que recopilamos sobre usted solo para fines específicos. Entre dichos fines, se incluyen ofrecerle nuestros servicios; crear y gestionar su registro y su cuenta (lo que incluye el acceso a nuestro sitio web y el uso que hace de él); publicar sus opiniones, notas y fotos ; y desarrollar y gestionar nuestras actividades comerciales, operaciones promocionales, programas de incentivos u operaciones de marketing (incluidas las campañas de envío de correos electrónicos, el programa Yumis, el targeting, el retargeting, el perfilado de usuarios y la segmentación).<br>

Tal y como se ha indicado más arriba, el procesamiento que hacemos de sus datos personales también puede incluir actividades de perfilado de usuarios (es decir, cualquier medio automatizado de procesamiento de los datos de una persona natural consistente en el uso de dichos datos para evaluar determinados aspectos personales, en concreto, para analizar o predecir determinados aspectos relativos a las preferencias, los intereses, el comportamiento, la ubicación o los movimientos de dicha persona) encaminadas a definir los tipos de clientes que utilizan nuestros productos y servicios, a mantener nuestro sitio web actualizado y pertinente (optimización de la experiencia del cliente), a desarrollar nuestro negocio y a elaborar nuestra estrategia comercial.<br>

También utilizamos nuestros datos personales en nuestro proceso de contratación y para mejorar el rendimiento de la formación profesional de nuestros equipos.</p>

<p id="3" style="font-weight: bold">3. Con quién compartimos su información<br>
<p style="text-align: justify;">
Podremos compartir sus datos personales con otras entidades, entre las que se incluyen otras empresas del grupo y terceros (tales como restaurantes, sitios afiliados o aplicaciones y proveedores de servicios que operen en nuestro nombre), y en un sentido más general, con cualquiera de nuestros socios comerciales o proveedores. En el caso de que vendiéramos o liquidáramos nuestro negocio (ya fuera de forma total o parcial) y dicha venta o liquidación implicara sus datos personales, o en el caso de que nos fusionáramos con otra empresa, compartiríamos sus datos personales con el nuevo propietario del negocio o con el socio de la fusión, según el caso. Si nos vemos en la obligación legal de hacerlo, compartiremos sus datos personales para proteger a nuestros clientes y nuestro sitio web, así como nuestra empresa, nuestros derechos y nuestra propiedad.<br>

Si opta por crear un perfil en nuestro sitio web, parte de la información de su perfil se hará pública y podrá verse al pulsar sobre su nombre de usuario. Tendrá la posibilidad de ver su perfil tal y como se presenta públicamente. Exigimos a todos los terceros que respeten la seguridad de los datos personales y que los traten con arreglo a la ley. Nuestros proveedores de servicios externos no tienen nuestra autorización utilizar los datos personales para sus propios fines, y solo les permitimos procesarlos para fines específicos y según nuestras instrucciones.</p>

<p id="4" style="font-weight: bold">4. Durante cuánto tiempo guardamos su información<br>
<p style="text-align: justify;">
Podremos almacenar parte de la información vinculada a su cuenta en nuestros registros, principalmente para fines de análisis o para el mantenimiento de dichos registros. El periodo de conservación de sus datos personales depende de la finalidad para la cual los recopilemos y del uso que de ellos hagamos.<br>

Solo conservaremos su información de carácter personal el tiempo que resulte necesario para los fines establecidos en el apartado 2 “Cómo utilizamos sus datos personales” o para cumplir con nuestras obligaciones legales. Para los fines comerciales, el periodo de conservación será de 3 años a partir de la fecha de su última actividad. Es posible que guardemos determinada información personal durante un periodo más prolongado, incluso después de que haya cerrado su cuenta, si dicha información es necesaria para cumplir con nuestras obligaciones legales, para mantener la seguridad, para prevenir fraudes y abusos, y para defender o ejercer nuestros derechos. Si decide cerrar su cuenta, sus datos personales dejarán de estar visibles en nuestro sitio web en un plazo por lo general de 14 días.</p>

<p id="5" style="font-weight: bold">5. Cómo protegemos sus datos personales<br>
<p style="text-align: justify;">
Queremos que use nuestro sitio web con confianza. Para ello, nos comprometemos a proteger la información que recopilamos. Aunque ningún sitio puede garantizar seguridad absoluta debido a las dificultades inherentes a las actividades online, hemos implementado y mantenemos medidas organizativas, técnicas, administrativas y físicas apropiadas para proteger los datos personales que nos proporciona contra el acceso no autorizado o ilegal, la revelación de información, así como contra pérdidas, daños, alteraciones o destrucciones accidentales.<br>

Por ejemplo, encriptamos los datos cuando transferimos su información de facturación entre nuestro sistema y los de terceros con los que compartimos dicha información. También empleamos cortafuegos y sistemas de detección de intrusos para prevenir el acceso no autorizado a su información.</p>

<p id="6" style="font-weight: bold">6. Sus derechos<br>
<p style="text-align: justify;">
Puede consultar, complementar y actualizar la información que nos haya facilitado accediendo a la sección “Mis ajustes” de su cuenta. También podrá cerrar su cuenta en ElTenedor en dicha sección o escribiéndonos a contacto@eltenedor.es. Si decide cerrar su cuenta en ElTenedor, la desactivaremos y eliminaremos la información de su perfil. Recuerde que en cuanto haya cerrado su cuenta, ya no podrá acceder al sitio web, ni a su información personal, ni utilizar los Yumis. Sin embargo, podrá abrir una cuenta nueva en cualquier momento.<br>

Puede modificar sus preferencias comerciales en cualquier momento, a través de la sección “Mis suscripciones” de su cuenta.

De conformidad con las leyes y normativas aplicables, tendrá derecho de acceso, rectificación y borrado de sus datos personales, el derecho a restringir el acceso a dichos datos, el derecho a la portabilidad de sus datos y el derecho a oponerse al procesamiento de sus datos personales. También tendrá derecho a determinar la forma en que se utilizarán sus datos personales, así como la forma en que se ejercitarán sus derechos tras su fallecimiento.</p>

                        </div>
                    </div>
                </div>
             </div>
       </section>


		<section>
	  		<%= render  "registro_restaurant" %>	
		</section>


	</div>
</div>
