<section class="content">

    <div class="row container">

        <section class="col">

            <div class="box box-success">
                <div class="box-header with-border">
        
                    <h3 class="box-title">Editar promocion</h3>
                    <!-- tools box -->

                </div>

                <div class="box-body">
                    <%= render 'form4', promo: @promo %>
                </div>
            </div>
    
        </section>

    </div>
</section>



