<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
      Restaurante
      <small>Panel de Control</small>
    </h1>

  </section>
  

  <section class="content">

    <div class="row container">

      <section class="col">

        <div class="box box-info">
          <div class="box-header">
            <i class="fa fa-table"></i>
  
            <h3 class="box-title">Bienvenido</h3>
            <!-- tools box -->

          </div>
          <div class="box-body">
            <p>Desde este panel podras hacer gestion de toda la informacion referente a tu restaurante</p>
          </div>
          

        </div>
  
      </section>

    </div>

  </section>

