<h2 style="margin-left: 85px; text-transform: capitalize"> Restaurantes <strong style="color: #e09b23">por tipo</strong> de Comida</h3>
<%= render 'form' %>
<section>
<%= render 'home/registro_restaurant'%>
</section>