<div class="container mt-5">
    <div class="row">
        <div class="col-12 col-sm-8">
            <h2 class="mb-4">Manejo de subscripciones</h2>

            <ul class="list-group">
                <li class="list-group-item">
                    <div>
                        <h4>Recibir emails de mis restaurantes favoritos</h4>
                        <p>Deseo recibir emails cada vez que uno de mis restaurantes favoritos tenga una nueva promo o modifique una de sus promos exixtentes</p>

                        <div class="custom-control custom-switch float-right">
                            <input 
                                type="checkbox" 
                                class="custom-control-input subscription-switch" 
                                id="favorite-restaurants-subcription-switch" 
                                <% if @diner.favorite_notif %>
                                checked
                                <% end %>
                                data-subscription-type="favorite_notif"
                            >
                           
                            <label class="custom-control-label" for="favorite-restaurants-subcription-switch"></label>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>

<script>
$(document).ready(function() {})
$('.subscription-switch').change(function() {
    // get subscription type from a data-attr 
    // since later more subs could be added 
    
    var checkbox = $(this);
    var checked = $(this).prop('checked');
    
    Rails.ajax({
        type: 'POST',
        url: '/diner-subscriptions',
        data: $.param({
            _method: "patch",
            subscription_type: $(this).attr('data-subscription-type')
        }),
        error: function(repsonse) {
            // revert checkbox status
            checkbox.prop('checked', !checked);

            alert('Hubo un problema modificando tus subscripciones, por favor intentalo de nuevo');
        }
    });
});

</script>