<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
        <p>Hola <%= @restaurant.user_name %>!</p>
        <p>Lamentablemente tu solicitud ha sido rechazada por nuestros administradores, revise bien
            sus datos y registrese de nuevo.
        </p>
        
      
        
</body>
</html>