<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
        <p>Bienvenido a LaPromo <%= @restaurant.user_name %>!</p>
        <p>Tu solicitud ha sido aprobada por nuestros administradores, ahora
            puedes iniciar sesión y disfrutar de nuestra pagina web.
        </p>

        
      
        
</body>
</html>