<h1>Editing Restaurant</h1>

<%= render 'form', restaurant: [:administrador,@restaurant] %>

<%= link_to 'Show', [:administrador, @restaurant] %> |
<%= link_to 'Back', administrador_restaurants_path %>
