<p>Hola <%= @resource.email %>!</p>

<p>Ingresa en el enlace de abajo para cambiar tu contraseña:</p>

<p><%= link_to 'Cambiar mi contraseña', edit_password_url(@resource, reset_password_token: @token) %></p>


